*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/* banner-section */
.banner-section{
    background-image: url(./image/banner11.jpg);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;   
}
.text-box{
    width: 90%;
    color: #f8f5f5;
    position: absolute; 
    margin-top: 200px;
    margin-left: 100px;
    
    
}
.banner-title{
    line-height: 80%;
    color: chartreuse;
}
.banner-title{
    font-size: 60px;
    margin-bottom: 15;
}
.btn-primary{
    font-size: 30px;
    padding: 5px;
    background-color:rgb(107, 238, 81);
    border: none;
    border-radius: 10px;
   margin-top: 15px;
}
